/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    font-family: "-apple-system", system-ui, "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif; 
}
/* Common styles for all screen sizes */
.translate {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('https://www.chatpdf.com/bg.avif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  
  /* Tablet styles (up to 768px) */
  @media (max-width: 768px) {
    .translate {
      padding: 20px;
    }
    h2 {
      font-size: 1.3em;
    }
    .blocks {
      display: block;
      padding-left: 0;
    }
    .row {
      width: 100%;
      display: block;
    }
    .imagediv,
    .box {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }
  
  /* Mobile styles (up to 480px) */
  @media (max-width: 480px) {
    .translate {
      padding: 10px;
    }
    h2 {
      font-size: 1em;
    }
    .blocks {
      padding: 0;
    }
    .row {
      width: 100%;
      display: block;
    }
    .imagediv,
    .box {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }
  

 