<div class="translate">
    <h2 style="margin-top: 48px; margin-bottom: 8px;"> Going viral all over the world</h2>
    <div class="undertext">
        <span class="translatetext">Across borders,beyond languages:AI is revolutionizing the understanding of research worldwide</span> 
    </div>
        <div class="blocks">
        <div class="row">
            <div class="imagediv">
                <a href="#"><img src="https://www.chatpdf.com/tiktoks/7226361777393519899.avif"alt=""></a>
            </div>
            <div class="box rowbox">
                <div class="boxinneruppertext">
                    <img src="https://pbs.twimg.com/profile_images/1461185484638814208/YUvdsQwE_x96.jpg" class="photo"  width="32px" height="32px"alt="">
                    <div class="fulltext">
                    <div class="upper">
                        <p>森山大朗(たいろー)</p>
                     </div>
                       <div class="username">
                             <p>@tairo</p>
                         </div>
                        </div>
                        <div class="imgdivtwitter">
                            <a href="#"><img src="https://www.freeiconspng.com/thumbs/logo-twitter-png/logo-twitter-icon-symbol-0.png" width="20px" height="20px" alt=""></a>
                       </div> 
                </div>
                <div class="boxinnerdiv">
                    <div class="middlerowboxtext">
                        <p>これヤバいでしょ。</p>
                        <p>『ChatPDF』は生成AIを応用したサービス。
                            難しい論文をめちゃくちゃ簡単に理解できま</p>
                            <p class="newchildofp">す。</p>
                        <p>手元のPDFをアップロード。</p>
                           <p class="newchildofp"> あとはただ、質問するだけ。</p>
                        <p>研究論文のためのChatGPTのようなものです。誰でもDaiGoさんみたいに「○○の論文によると〜」ができちゃうかも?</p>
                        <p>↓ つづく</p>
                    </div>
                    <div class="boxfooter">
                        <div class="views">
                            <div class="textviews">
                            <span class="dark">1,062</span>
                            <p>Retweets</p>
                        </div>
                            <div class="views">
                            <div class="textviews">
                                <span class="dark">6,137</span>
                                <p>Likes</p>
                            </div>
                            </div>
                            <div class="views">
                            <div class="textviews">
                                <span class="dark">1M</span>
                                <p>Views</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imagediv">
                <a href="#"><img src="https://www.chatpdf.com/tiktoks/7231979676908948741.avif" alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="boxinneruppertext">
                    <img src="https://pbs.twimg.com/profile_images/1575897887019499520/xs2ar5XJ_x96.jpg"  width="32px" height="32px"alt="">
                    <div class="fulltext">
                    <div class="upper">
                        <p>Mushtaq Bilal, PhD</p>
                     </div>
                       <div class="username">
                             <p>@MushtaqBilalphD</p>
                         </div>
                        </div>
                        <div class="imgdivtwitter">
                            <a href="#"><img src="https://www.freeiconspng.com/thumbs/logo-twitter-png/logo-twitter-icon-symbol-0.png" width="20px" height="20px" alt=""></a>
                       </div> 
                </div>
                <div class="boxinnerdiv">
                    <div class="middleboxtext">
                        <p>ChatPDF is an AI-powered app that will make reading journal articles easier and faster.
                        <p>Simply upload a PDF and start asking it questions.</p>
                        <p>It's like ChatGPT, but for research papers. Here's how to use it.</p>
                    </div>
                    <div class="boxfooter">
                        <div class="views">
                            <div class="textviews">
                            <span class="dark">3,945</span>
                            <p>Retweets</p>
                        </div>
                            <div class="views">
                            <div class="textviews">
                                <span class="dark">18.2k</span>
                                <p>Likes</p>
                            </div>
                            </div>
                            <div class="views">
                            <div class="textviews">
                                <span class="dark">2.9M</span>
                                <p>Views</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imagediv">
                <a href="#"><img src="https://www.chatpdf.com/tiktoks/7207418205218934021.avif" alt=""></a>
            </div>
            <div class="box">
                <div class="boxinneruppertext">
                    <img src="https://pbs.twimg.com/profile_images/1549602586961248256/vAD45SPl_x96.jpg" class="photo" width="32px" height="32px"alt="">
                    <div class="fulltext">
                    <div class="upper">
                        <p>Wormssceo - AI, blockchain guy</p>
                     </div>
                       <div class="username">
                             <p>@MushtaqBilalphD</p>
                         </div>
                        </div>
                        <div class="imgdivtwitter">
                            <a href="#"><img src="https://www.freeiconspng.com/thumbs/logo-twitter-png/logo-twitter-icon-symbol-0.png" width="20px" height="20px" alt=""></a>
                       </div> 
                </div>
                <div class="boxinnerdiv">
                    <div class="secondmiddleboxtext">
                        <p>"&lt;AI 툴 소개&gt;</p> 
                           <p> 오늘도 여러분께 유용한 AI 툴 하나를 소개해드리려</p>
                           <p>고 합니다 </p>
                            <p>PDF파일을 바로 요약해주는 ChatPDF입니다 
                            <p class="ls-p-child">chatpdf.com"</p>
                      </div>
                    <div class="boxfooter">
                        <div class="views">
                            <div class="textviews">
                            <span class="dark">558</span>
                            <p>Retweets</p>
                        </div>
                            <div class="views">
                            <div class="textviews">
                                <span class="dark">755</span>
                                <p>Likes</p>
                            </div>
                            </div>
                            <div class="views">
                            <div class="textviews">
                                <span class="dark">77k</span>
                                <p>Views</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imagediv">
                <a href="#"><img src="https://www.chatpdf.com/tiktoks/7226550685096103169.avif" alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="imagediv">
                <a href="#"><img src="https://www.chatpdf.com/tiktoks/7245033240782769413.avif" alt=""></a>
            </div>
            <div class="box">
                <div class="boxinneruppertext">
                    <img src="https://pbs.twimg.com/profile_images/579924232685010944/obcxKbEE_x96.png" class="photo" width="32px" height="32px"alt="">
                    <div class="fulltext">
                    <div class="upper">
                        <p>Reorx</p>
                     </div>
                       <div class="username">
                             <p>@novoreorx</p>
                         </div>
                        </div>
                        <div class="imgdivtwitter">
                            <a href="#"><img src="https://www.freeiconspng.com/thumbs/logo-twitter-png/logo-twitter-icon-symbol-0.png" width="20px" height="20px" alt=""></a>
                       </div> 
                </div>
                <div class="boxinnerdiv">
                    <div class="middleboxtext">
                        <p>今天发现的新工具 ChatPDF 简直是学习神器，上传 PDF 文件后，可以对它提问任何关于这份 PDF 的问题，非常适合快速提取各种 paper 论文的摘要，也支持中文输出。几天前我还在一段段地从 PDF 里复制到 ChatGPT，没想到生活这么快就被改变了🤯</p>
                    </div>
                    <div class="boxfooter">
                        <div class="views">
                            <div class="textviews">
                            <span class="dark">3,945</span>
                            <p>Retweets</p>
                        </div>
                            <div class="views">
                            <div class="textviews">
                                <span class="dark">18.2k</span>
                                <p>Likes</p>
                            </div>
                            </div>
                            <div class="views">
                            <div class="textviews">
                                <span class="dark">2.9M</span>
                                <p>Views</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imagediv">
                <a href="#"><img src="https://www.chatpdf.com/tiktoks/7212569093847715073.avif" alt=""></a>
            </div>
        </div>
    </div>
</div>